.signup {
  padding-top: 10px;
  width: 290px;
}
.help-link {
  float: right;
}

.form-help {
    display:none;
    font-size:90%;
}

input:focus + .form-help {
    display:inline-block;
}

.signup button,
.signup input {
  margin-bottom: 10px;
  width: 100%;
}

.captcha {
  background: #f8f8f8;
  border: 1px solid #c9c9c9;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}

.captcha-image {
  background: #ffffff;
  border: 1px solid #c9c9c9;
  font-size: 0px;
  height: 60px;
  line-height: 1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
}

@keyframes grow {
    0% { font-size: 0 }
    100% { font-size: 30px }
}
@-webkit-keyframes grow {
    0% { font-size: 0 }
    100% { font-size: 30px }
}
.captcha-image:hover .grows {
  -webkit-animation-name: grow;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: grow;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#captcha-text:valid,
#username:valid {
  background: rgba(0, 127, 0, 0.5);
}

button {
  background: #00af89;
  border: 1px solid #00af89;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: #008c6d;
}
