body {
  background: #f6f6f6;
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

h1,
h2 {
  border-bottom: 1px solid #aaa;
  font-size: 28.8px;
  font-family: Georgia, serif;
  font-weight: normal;
  overflow: hidden;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.main-container {
  order: 1;
  width: 100%;
}

.main-header {
  height: 80px;
  position: relative;
}

.main-header ul {
  display: flex;
}

.main-header nav,
.search {
  position: absolute;
}

.user-menu {
  right: 0px;
  top: 0px;
}

.user-menu li {
  padding-top: 5px;
  padding-left: 5px;
}

.talk-menu {
  bottom: 0px;
  right: 300px;
}

.edit-menu {
  bottom: 0px;
  left: 0px;
}

.edit-menu li,
.talk-menu li {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.search {
  bottom: 0px;
  padding-bottom: 5px;
  right: 0px;
}

button, input {
  box-sizing: border-box;
  font-family : inherit;
  font-size: 100%;
  padding: 5px;
}

.search-input{
  width: 300px;
}


::-webkit-input-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
::-ms-input-placeholder {
  font-style: italic;
}
::placeholder {
  font-style: italic;
}

.search-submit {
  background: url(../img/search-button.png);
  border: none;
  height: 13px;
  padding: 0;
  position: absolute;
  right: 5px;
  top:9px;
  width: 12px;
}

.main-content {
  background: #ffffff;
  border: 1px solid #a7d7f9;
  border-right: 0;
  padding: 16px;
}

.biography {
  background: #f9f9f9;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  float: right;
  margin: 6px 0 12px 12px;
  padding: 25px;
  width: 271px;
}

.main-footer {
  height: 150px;
}

.main-sidebar {
  flex: 0 0 auto;
  order: 0;
  width: 176px;
}

.logo {
  background: url(../img/logo.png);
  color: rgba(0, 0, 0, 0);
  display: block;
  height: 155px;
  margin: 6px auto 0;
  width: 135px;
}
